body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register label {
  margin: 0 25px;
  text-align: left;
  font-size: 18px;
  color: #333;
}

.register input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 6px;
  margin: 16px 20px;
  border-bottom: 2px solid #333;
}

.register__btn {
  text-align: center;
  width: 50%;
  margin: 12px auto;
  padding: 16px 32px;
  background-color: rgb(41, 43, 170);
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.register__btn:hover {
  background-color: rgb(31, 33, 150);
}

.register__btn:active {
  transform: scale(0.95);
  background-color: rgb(21, 23, 130);
}

.login {
  text-align: center;
  font-size: 18px;
}

.login a {
  font-style: normal;
  text-decoration: none;
  color: #1a73e8;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

.login a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #1a73e8;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.login a:hover {
  color: #0c47a1;
}

.login a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.error__form {
  font-size: 18px;
  background-color: #ce2222;
  color: #FFF;

  display: flex;
  padding: 8px 24px;
  margin: 0 auto;
}

.error__field {
  border-bottom: 2px solid #ce2222 !important;
}

.none {
  display: none;
}